@import "../../style/variables.scss";

.home {
  main.home-main {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 5%,
        rgba(255, 255, 255, 0) 35%
      ),
      url("../../../public/images/new_main.png") no-repeat center / cover;

    div.home-main-op {
      opacity: 0;
      height: 100%;
      transition: all 1.2s ease-out;
      display: flex;
      flex-direction: column;
      align-items: center;

      &.on {
        opacity: 1;
      }

      div.home-main-op-tit {
        position: relative;
        top: 19%;
        text-align: center;
        span {
          display: block;
          font-size: $h1;
          font-weight: 700;
          line-height: 1.5;
        }
      }
      svg.home-main-op-arrow {
        position: absolute;
        width: 50px;
        height: 50px;
        fill: #aaa;
        animation: upMotion 0.8s ease-in-out infinite alternate;
        // animation: fadeInOut 0.8s ease-out
        // infinite alternate;
      }
    }
  }
  @keyframes upMotion {
    from {
      bottom: 7%;
      opacity: 0;
    }
    to {
      bottom: 6%;
      opacity: 1;
    }
  }

  // section 01
  section.section-01 {
    background-color: #f9fafb;

    div.section-01-wrap {
      max-width: 1140px;
      margin: 0 auto;
      padding: 250px 0;

      div.section-01-wrap-margin {
        max-width: calc(100% - 90px);
        margin: 0 auto;
      }
    }

    div.section-01-wrap-tit {
      margin-bottom: 100px;
      opacity: 0;
      transform: translate3d(0, 30%, 0);
      transition: all 0.85s;
      &.on {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      span {
        display: block;
        margin-bottom: 20px;
        white-space: pre-wrap;
        word-break: keep-all;

        &:nth-child(1) {
          color: #3182f6;
          font-size: 1.75rem;
          font-weight: 700;
          @include tablet {
            font-size: 1.75rem;
          }
          @include mobile {
            font-size: 2.25rem;
          }
        }
        &:nth-child(2),
        &:nth-child(3) {
          color: #191f28;
          font-size: $h3;
          font-weight: 700;
          @include tablet {
            font-size: $h3;
          }
        }
      }
    }
  }

  div.home-section-02-wrap {
    padding: 200px 0;
    @include tablet {
      padding: 160px 0;
    }
    @include mobile {
      padding: 120px 0;
    }
  }

  div.home-section-02-wrap-tit {
    max-width: 1140px;
    margin: auto;
    margin-bottom: 100px;
    font-size: $h2;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    @include mobile {
      margin-bottom: 60px;
    }
    span {
      display: inline-block;
    }
    span:nth-child(2) {
      margin-left: 10px;
      color: $blue;
      @include tablet {
        margin-left: 6.7px;
      }
      @include mobile {
        margin-left: 5.36px;
      }
    }
  }
}

section.home-section-03 {
  div.home-section-03-wrap {
    position: relative;
    width: 100%;
    height: 800px;
    background: url("../../../public/images/section03-big.jpg") no-repeat center /
      cover;
    text-align: center;
    span {
      line-height: 800px;
      font-size: 100px;
      font-weight: 700;
      color: #fff;
      @include mobile {
        font-size: 55px;
      }
    }
    div.home-section-03-left {
      width: calc((100vw - 17px - 1140px) / 2);
      height: 100%;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
    }
    div.home-section-03-right {
      width: calc((100vw - 17px - 1140px) / 2);
      height: 100%;
      background-color: #fff;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
