@import "../../style/variables.scss";

.home {
  width: 100%;
  position: relative;

  &-main {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 5%,
        rgba(255, 255, 255, 0) 35%
      ),
      url("../../../public/images/new_main.png") no-repeat center / cover;

    &-op {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      transition: opacity 1.2s ease-out;
      opacity: 0;
      &.on {
        opacity: 1;
      }

      &-top {
        margin-top: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-tit {
          text-align: center;
          margin-bottom: 50px;
          span {
            display: block;
            font-size: 6.6rem;
            font-weight: 700;
            line-height: 1.4;
          }
          @include mobile {
            span {
              font-size: 3.3rem;
            }
          }
        }

        &-btn {
          display: flex;
          align-items: center;

          > a {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 11px 22px;
            background-color: rgba(0, 12, 30, 0.8);
            font-size: 1.7rem;
            font-weight: 600;
            letter-spacing: 1px;
            color: #fff !important;
            border-radius: 7px;
            margin-right: 4px;
            transition: opacity 0.2s ease;
            &:hover {
              opacity: 0.8;
            }

            img {
              width: 24px;
              height: 24px;
              margin-right: 6px;
            }
          }
        }
      }

      &-arrow {
        margin-bottom: 50px;

        > img {
          width: 50px;
          height: 50px;
          animation: upDownFadeInOut 0.8s ease-in-out infinite alternate;
        }
      }
    }
  }

  @keyframes upDownFadeInOut {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .section01 {
    height: 554px;
    padding: 200px 0 0;
    background: #f9fafb;
    > p {
      font-size: 3.2rem;
      font-weight: 700;
      color: #191f28;
      line-height: 1.6;
      text-align: center;
    }
    @include mobile {
      height: auto;
      padding: 100px 0;
      > p {
        width: 300px;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.5;
        word-break: keep-all;
        margin: 0 auto;
      }
    }
  }
}
