.tossCertPage-container {
  background-color: #191f28;
  height: 800px;
  background: 
  rgb(0,0,0,0.8)
  url("../../public/images/tossCertPage-mian.jpg")
    no-repeat
    center center
    / cover;
  ;
}