@import "../../style/variables";

.tossCertSection03 {
  position: relative;
  padding-top: 103px;

  &-img {
    position: relative;
    width: 509px;
    margin: 0 auto;

    &-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 56.3%;
      > video {
        width: 100%;
      }
    }
    > img {
      position: relative;
      width: 100%;
    }
  }

  &-txt {
    position: absolute;
    top: 50%;
    left: calc(50% + 210px);
    transform: translateY(-50%);
    > span:nth-of-type(1) {
      display: block;
      font-size: 56px;
      font-weight: 700;
      color: #b0b8c1;
      line-height: 1.3;
    }
    > span:nth-of-type(2) {
      display: block;
      font-size: 56px;
      font-weight: 700;
      color: #191f28;
      line-height: 1.3;
    }
    > p {
      font-size: 24px;
      color: #3182f6;
      line-height: 1.3;
      margin-top: 40px;
      b {
        font-weight: 700;
        color: #b0b8c1;
        margin-left: 10px;
      }
    }
    @mixin responsive {
      position: relative;
      top: auto;
      left: auto;
      transform: translateY(0);
      text-align: center;
      > p {
        font-size: 20px;
      }
    }
    @include tablet {
      @include responsive;
      > span:nth-of-type(1),
      span:nth-of-type(2) {
        font-size: 40px;
      }
    }
    @include mobile {
      @include responsive;
      > span:nth-of-type(1),
      span:nth-of-type(2) {
        font-size: 35px;
      }
    }
  }
}
