@import "../style/variables.scss";

header {
  width: 100vw;
  height: 59px;
  position: fixed;
  background-color: transparent;
  z-index: 5;
  // border-bottom: 1px solid #ccc;

  div.header {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 400;

    div.header-logo {
      padding: 25px 12px;
      margin-right: 20px;
      img {
        width: 65px;
      }
    }

    div.header-menu {
      display: flex;
      margin-right: 10px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 12px;
        margin-right: 15px;
        color: #4e5968;
      }
      @include mobile {
        display: none;
      }
    }
    
    div.header-menu-mobile {
      display: none;
      button {
        width: 76px;
        height: 30px;
        border-radius: 15px;
        font-size: 0.25rem;
        background-color: $blue;
        color: #fff;
        margin-right: 12px;
      }
      @include mobile {
        display: flex;
      }
    }

    div.header-translate {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 44px;

      a {
        padding: 12px;
        margin-right: 5px;

        span {
          line-height: 1;
        }
      }

      .line {
        width: 2px;
        height: 25%;
        background-color: #ccc;
      }
    }
  }
}