header {
  width: 100vw;
  position: fixed;
  background-color: transparent;
  z-index: 5;
  // border-bottom: 1px solid #ccc;

  div.header {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    font-size: 13px;
    font-weight: 400;

    div.header-logo {
      padding: 12px;
      margin-right: 20px;
      img {
        width: 65px;
      }
    }

    div.header-menu {
      display: flex;
      margin-right: 10px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        margin-right: 15px;
      }
    }

    div.header-translate {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        padding: 12px;
        margin-right: 5px;

        span {
          line-height: 1;
        }
      }

      .line {
        width: 2px;
        height: 25%;
        background-color: #ccc;
      }
    }
  }
}
