.hoverList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .hoverList-item {
    position: relative;
    flex-shrink: 0;
    width: 466px;
    height: 372.8px;
    border-radius: 12px;
    margin: 14px 0;
    overflow: hidden;

    div.hoverList-item-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: no-repeat center / cover;
      z-index: -1;
      &.hover {
        filter: blur(10px);
        &::before {
          position: absolute;
          inset: 0px;
          content: "";
          background: rgba(159, 198, 242, 0.2);
        }
      }
    }
    div.hoverList-li-txt {
      padding: 32px;

      p.hoverList-li-txt-hidden {
        opacity: 0;
        // display: none;
        height: 0;
        font-size: 15px;
        margin-bottom: 8px;
        color: rgb(107, 118, 132);
        letter-spacing: 0.01em;
        transition: opacity 0.3s ease 0s, height 0.3s ease 0s;
        &.hover {
          height: 15px;
          opacity: 1;
          // display: block;
        }
      }
      p.hoverList-li-txt-tit {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.4;
        color: rgb(51, 61, 75);
        white-space: pre;
        margin-bottom: 20px;
        transition: all 0.3s ease 0s;
        &.hover {
          font-size: 26px;
          font-weight: 700;
        }
      }

      div.hoverList-li-txt-icon {
        transition: all 0.3s ease;
        height: 24px;
        opacity: 1;
        img {
          width: 24px;
          height: 24px;
        }
        &.hover {
          opacity: 0;
          height: 0;
        }
      }
      p.hoverList-li-txt-des {
        display: none;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        color: rgb(51, 61, 75);
        transition: all 0.5s;
        white-space: pre-line;
        &.hover {
          display: block;
        }
      }
    }
  }
}
