div.roller {
  ul {
    display: flex;
    overflow: hidden;
  }
  li.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
    animation-name: InfiniteSlide;
    // animation-iteration-count: infinite;
    // animation-duration: 4s;
    animation: InfiniteSlide 60s linear infinite;

    img {
      text-align: center;
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes InfiniteSlide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-3350px + 100vw));
  }
  // 100% {
  //   transform: translateX(-200%);
  // }
}
