div.search {

  form.search-form {
    position: relative;
    border-bottom: 1px solid #b0b8c1;

    span.search-form-img {
      position: absolute;
      left: 0;
      top: 8px;
    }
    
    input.search-form-input {
      line-height: 1.3;
      padding: 0 0 16px 46px;
      font-size: 2rem;
      width: 100%;
      border: none;

      &::placeholder {
        color:#b0b8c1;
      }
    }
  }
}