@import "../style/variables";

.serviceList {
  opacity: 0;
  transform: translate3d(0, 5%, 0);
  transition: all 0.8s linear;
  &.on {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      width: 500px;
      margin: 0 0 100px 0px;
      @include mobile {
        width: 100vw;
        margin: 50px 0 0 0;
      }
    }
  }

  div.serviceList.icon {
    width: 120px;
    height: 120px;
    border-radius: 26px;
    background-color: red;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      width: 60px;
      height: 60px;
      border-radius: 16px;
    }
    img {
      width: 60px;
      height: 60px;
      @include mobile {
        width: 30px;
        height: 30px;
      }
    }
  }

  .serviceList.txt-wrap {
    line-height: 1.8;

    span {
      display: block;
      &:nth-child(1) {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.6;
        margin-bottom: 6px;
        @include mobile {
          font-size: 18px;
        }
      }
      &:nth-child(2) {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.6;
        color: #8b95a1;
        white-space: pre-wrap;
        @include mobile {
          font-size: 16px;
          font-weight: 600;
          line-height: 1.5;
        }
      }
    }
  }
}
