@import "../style/variables";

.service-wrap {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.service-list {
  width: 325px;
  margin: 0 200px 100px 0px;

  .service-icon {
    width: 120px;
    height: 120px;
    border-radius: 26px;
    background-color: red;
    margin-bottom: 30px;
    @include mobile {
      width: 60px;
      height: 60px;
      border-radius: 16px;
    }
  }

  .service-txt-wrap {
    line-height: 1.8;

    span {
      display: block;
      &:nth-child(1) {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 6px;
      }
      &:nth-child(2) {
        font-weight: 400;
        font-size: 18px;
        color: #8b95a1;
        white-space: pre-wrap;
      }
    }
  }
}
