@import "../style/variables";

.slider01 {
  position: relative;
  width: 100vw;
  background-color: rgb(242, 244, 246);
  overflow: hidden;
  // transform: translate3d(0,0,0);

  &-track {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    // transform: translate3d(-1329px, 0, 0);
    width: calc(100vw * 4);
    opacity: 1;

    &-item {
      width: 100vw;
      padding: 60px 0px;

      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 640px;
        margin: 0 auto;

        > img {
          width: 84px;
          height: 84px;
          margin-bottom: 32px;
        }
        > p:nth-of-type(1) {
          margin-bottom: 28px;
          font-size: 1.9rem;
          line-height: 30px;
          color: rgb(78, 89, 104);
          text-align: center;
        }
        > p:nth-of-type(2) {
          font-size: 1.5rem;
          line-height: 21px;
          color: rgb(139, 149, 161);
          text-align: center;
        }
      }
    }
  }

  &-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 35px;
    @include mobile {
      width: 20%;
      top: auto;
      bottom: 10%;
    }

    &-prevBtn {
      position: absolute;
      top: 0;
      left: 0;
      width: 56px;
      padding: 12px;
      transform: rotate(180deg);
      > img {
        width: 32px;
        height: auto;
      }

      &.disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }
    &-nextBtn {
      position: absolute;
      top: 2px;
      right: 0;
      width: 56px;
      padding: 12px;
      > img {
        width: 32px;
        height: auto;
      }
      &.disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }
  }
  @include mobile {
    .slider01-track {
      &-item {
        padding: 52px 30px 96px;

        &-content {
          position: relative;
          left: -8px;
          width: calc(100% - 16px);
          > p:nth-of-type(1) {
            font-size: 1.5rem;
            line-height: 1.6;
          }
        }
      }
    }
  }
}
