@import "../../style/variables";

.careerPage {
  // main
  .careerPage-main {
    width: 100%;
    height: 3218px;
    opacity: 1;

    div.careerPage-main-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transition: all 1s;
      z-index: -1;
      background: url("../../../public/images/careerPage-main.jpg") no-repeat
        center center / cover;
      @include mobile {
        background: url("../../../public/images/careerPage-main-mobile.jpeg")
          no-repeat center center / cover;
      }
    }

    div.careerPage-main-filter {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0);
      opacity: 0.3;
      transition: all 1s;
    }

    p.careerPage-main-tit {
      position: fixed;
      top: 22vh;
      left: 0;
      z-index: 1;
      width: 100%;
      font-size: $h0;
      margin: 0;
      font-size: 72px;
      font-weight: 700;
      line-height: 89px;
      color: #fff;
      text-align: center;
      transition: all 1s;

      @include mobile {
        font-size: 32px;
        line-height: 47px;
      }
    }

    p.scrollTit-common {
      position: fixed;
      left: 0;
      width: 100%;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      text-align: center;
      white-space: pre-line;
      @include mobile {
        font-size: 15px;
        line-height: 24px;
      }
    }
    p.careerPage-main-scrollTit1 {
      @extend .scrollTit-common;
      top: 24vh;
    }
    p.careerPage-main-scrollTit2 {
      @extend .scrollTit-common;
      top: calc(24vh + 136px);
      transform: translateY(20px);
    }
    p.careerPage-main-scrollTit3 {
      @extend .scrollTit-common;
      top: calc(24vh + 238px);
      transform: translateY(20px);
    }
  }

  // section 01
  .careerPage-section {
    height: 7240px;
  }
  .careerPage-section-01 {
    max-width: 1140px;
    margin: 0 auto;

    .careerPage-section-01-wrap {
      max-width: 960px;
      width: 92%;
      margin: 0 auto;

      .careerPage-section-01-tit {
        margin: 0 auto;
        p:nth-of-type(1) {
          font-size: 46px;
          font-weight: 700;
          line-height: 1.4;
          margin-bottom: 16px;
          color: rgb(51, 61, 75);
          @include mobile {
            font-size: 32px;
            line-height: 42px;
          }
        }
        p:nth-of-type(2) {
          font-size: 18px;
          font-weight: 700;
          line-height: 29px;
          margin-bottom: 32px;
          color: rgb(107, 118, 132);
          @include mobile {
            font-size: 15px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
