@import "../../style/variables";

.careerPage {
  // main
  .careerPage-main {
    width: 100%;
    height: 2718px;
    opacity: 1;

    div.careerPage-main-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transition: all 1s;
      z-index: -1;
      background: url("../../../public/images/careerPage-main.jpg") no-repeat
        center center / cover;
      @include mobile {
        background: url("../../../public/images/careerPage-main-mobile.jpeg")
          no-repeat center center / cover;
      }
    }

    div.careerPage-main-filter {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 800px;
      background-color: rgba(0, 0, 0);
      opacity: 0.3;
      transition: all 1s;
    }

    p.careerPage-main-tit {
      position: fixed;
      top: 22vh;
      left: 0;
      z-index: 1;
      width: 100%;
      font-size: $h0;
      margin: 0;
      font-size: 72px;
      font-weight: 700;
      line-height: 89px;
      color: #fff;
      text-align: center;
      transition: all 1s;
    }

    p.scrollTit-common {
      position: fixed;
      left: 0;
      width: 100%;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      text-align: center;
      white-space: pre-line;
    }
    p.careerPage-main-scrollTit1 {
      @extend .scrollTit-common;
      top: 24vh;
      transform: translateY(20px);
      opacity: 0;
      transition: all 3s;
      &.scrolled {
        transform: translateY(0px);
        opacity: 1;
      }
    }
    p.careerPage-main-scrollTit2 {
      @extend .scrollTit-common;
      top: calc(24vh + 136px);
      transform: translateY(20px);
      opacity: 0;
      transition: all 3s;
      &.scrolled {
        transform: translateY(0px);
        opacity: 1;
      }
    }
    p.careerPage-main-scrollTit3 {
      @extend .scrollTit-common;
      top: calc(24vh + 238px);
      transform: translateY(20px);
      opacity: 0;
      transition: all 3s;
      &.scrolled {
        transform: translateY(0px);
        opacity: 1;
      }
    }
  }

  // section 01
  .careerPage-section-01 {
    max-width: 1140px;
    min-width: 1020px;
    margin: 0 auto;
    .careerPage-section-01-wrap {
      max-width: 960px;
      margin: 0 auto;

      .careerPage-section-01-tit {
        p:nth-of-type(1) {
          font-size: 46px;
          font-weight: 700;
          line-height: 1.4;
          margin-bottom: 20px;
          color: rgb(51, 61, 75);
        }
        p:nth-of-type(2) {
          font-size: 18px;
          font-weight: 700;
          line-height: 29px;
          margin-bottom: 32px;
          color: rgb(107, 118, 132);
        }
      }

      .careerPage-section-01-cont {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .careerPage-section-01-cont-li {
          position: relative;
          flex-shrink: 0;
          width: 466px;
          height: 372.8px;
          margin: 14px 0;
          border-radius: 12px;
          overflow: hidden;

          div.careerPage-section-01-cont-li-img {
            position: absolute;
            top: 0;
            left: 0;
            background: no-repeat center / cover;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: all 0.5s;
            &.hover {
              filter: blur(5px);
            }
          }
          div.careerPage-section-01-cont-li-txt {
            padding: 32px;

            p.careerPage-section-01-cont-li-txt-hidden {
              display: none;
              font-size: 15px;
              margin-bottom: 8px;
              transition: all 0.5s;
              color: rgb(107, 118, 132);
              letter-spacing: 0.01em;
              &.hover {
                display: block;
              }
            }
            p.careerPage-section-01-cont-li-txt-tit {
              font-size: 32px;
              font-weight: 700;
              line-height: 1.4;
              color: rgb(51, 61, 75);
              white-space: pre;
              word-spacing: -0.1em;
              margin-bottom: 20px;
              transition: all 0.3s ease 0s;
              &.hover {
                font-size: 27px;
              }
            }

            div.careerPage-section-01-cont-li-txt-icon {
              transition: all 0.5s;
              img {
                width: 24px;
                height: 24px;
              }
              &.hover {
                display: none;
              }
            }
            p.careerPage-section-01-cont-li-txt-des {
              display: none;
              font-size: 14px;
              font-weight: 500;
              line-height: 21px;
              color: rgb(51, 61, 75);
              transition: all 0.5s;
              white-space: pre-line;
              &.hover {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
