.teamPage {
  &-main {
    height: 100vh;
    background: url("../../../public/images/teamPage-main.jpg") no-repeat center
      top 50% / cover;
    display: flex;
    justify-content: center;

    &-contents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-tit {
        text-align: center;
        position: absolute;
        bottom: 15%;
        span {
          color: #fff;
          font-size: 4.5rem;
          font-weight: bold;
          line-height: 1.3;
          white-space: pre-wrap;
        }
      }
    }

    &-arrow {
      > img {
        position: absolute;
        width: 28px;
        animation: upDown 0.8s ease-in-out infinite alternate;
      }
    }
  }
}
@keyframes upDown {
  from {
    bottom: 10%;
    opacity: 0;
  }
  to {
    bottom: 11%;
    opacity: 1;
  }
}

div.teamPage-section-01 {
  div.teamPage-section-01-graph {
    img {
      width: 500px;
      height: 500px;
    }
  }
}
