
div.teamPage-main-bg {
  height: 100vh;
  background: 
    url("../../../public/images/teamPage-main.jpg")
    no-repeat
    center top 50%
    / cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  div.teampPage-main-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    div.teamPage-main-tit {
      text-align: center;
      position: absolute;
      bottom: 20%;
      span {
        color: #fff;
        font-size: 4.5rem;
        font-weight: bold;
        line-height: 1.3;
        white-space: pre-wrap;
      }
    }
    svg.teamPage-main-arrow {
      position: absolute;
      bottom: 10%;
    }
}

div.teamPage-section-01 {
  div.teamPage-section-01-graph {
    img {
      width: 500px;
      height: 500px;
    }
  }
}